.menu {
  grid-area: u;
  background:#424242;
  border-radius: 5px;
  margin-top: 9px;
}

.menu img {
  cursor: pointer;
}

.image img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
  text-align: center;
  margin-left:60px;
}

.name h3 {
  padding-left: 10px;
  color: white;
  text-align: center;
}

.status h5 {
  text-align: center;
  color: lightgreen;
}

.preloader {
  margin-left: 55px;
}

.contact {
  padding-left: 10px;
}

.profileInfo {
  padding-left: 10px;
}