.nav {
  grid-area: n;
  background:#424242;
  border-radius: 5px;
  margin: 9px;
  padding: 0 25px 20px;
}

.item a {
  color: #eee;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.item a:hover {
  color: deepskyblue;
}