.dialogsBody {
    display: grid;
    grid-template-columns: 300px 510px;

    background: #505050;
    border-radius: 5px;
}

.dialogs {
    background: #424242;
    border-radius: 5px;
    color: #eee;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 9px 9px 9px 18px;
    padding: 10px;
}

.dialogs a {
    color: #eee;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}

.dialogs a:hover  {
    color: deepskyblue;
}

.dialogs a.active {
    color:gold;
}
.comments {
    background: #424242;
    border-radius: 5px;
    margin: 9px;
    padding: 10px;
}

.sendMessage {
    background: #343434;
    border-radius: 5px;
    margin: 0px -9px -9px -9px;
    padding: 10px;
}
.sendMessage textarea {
    border-radius: 5px;
    padding: 10px;
    width: 450px;
    height: 28px
}

.sendMessage button {
    border-radius: 5px;
}

