.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: greenyellow;
}
.header img {
  width: 85px;
}
.nav {
  grid-area: n;
  background-color: grey;
}

.content {
  grid-area: c;
  background-color: yellow;
}